
<div class="col-lg-4">
    <ul>
        <li class="nav-item"><%= link_to 'アカウント', account_path %></li>
        <li class="nav-item"><%= link_to 'プロフィール', profile_path, data: {"turbolinks"=>false} %></li>
    </ul>
</div>