
<div class="center jumbotron">

  <div class="container main-image wrap">
  <div class="row top-search-box">
    <div class="top-search-title">
    <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
    </div>

    <form class="top-search">
     <div class = "area-search-top form-group">
      <label class="area-box-title">エリア</label>
      <input class = "form-area-box form-control" type="search" placeholder="東京" aria-label="Search">
     </div>  <a class="search-button btn btn-primary" href="#" role="button">探す</a>
    </form>
  </div>
  </div>

</div>

<div class="container">
<div class="m-5">
 <p class="recommend-area-title">おすすめのエリア</h5>
  <div class="row">
    <div class="place col-lg-3 col-6 wrap">
      <span> 東京 </span>
      <%= image_tag 'img_tokyo.jpg', alt: 'tokyo', class: "place-picture" %>
    </div>
    <div class="place col-lg-3 col-6 wrap">
      <span>大阪 </span>
      <%= image_tag 'img_osaka.jpg' , alt: 'osaka' ,class: "place-picture" %>      
    </div>
    <div class="place col-lg-3 col-6 wrap">
      <span>京都</span>
      <%= image_tag 'img_kyoto.jpg' , alt: 'kyoto' , class: "place-picture"%> 
    </div>
    <div class="place col-lg-3 col-6 wrap">
      <span>札幌</span>
      <%= image_tag 'img_sapporo.jpg' ,alt: 'sapporo' , class: "place-picture"%> 
    </div>
  </div>
</div>
</div>
