// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.room-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}

.room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}

.reservations {
    padding: 30px 60px;
}

.room-posts {
    max-width: 100vw;
    padding: 30px 60px;
}
.room-posts thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.room-posts table {
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
    
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.logo {
    background-color: #ff0000a8;
    border-radius: 4px;
    color: #fff;
    width: 40px;
    height: 20px;
    text-align: center;
    }
    
.room-show-detile {
    display: flex;
    align-items: center;
}

.room-show-detile-content {
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}

.posttable {
    border: 2px #C0C0C0 solid;
    margin: 10px 30px;
   }
   
   .posttable td{
     min-width: 120px;
     text-align: center;
     padding: 3px;
   }
   
    table.posttable tr:nth-child(1){
     border: 2px #C0C0C0 solid;
     text-align: center;
   }
   
   table.posttable td:nth-child(1){
     min-width: 360px;
     text-align: center;
   }
   
   table.posttable td:nth-child(2){
     font-size: 18px;
     text-decoration: underline;
   }
   
   .posttable th{
     min-width: 120px;
     text-align: center;
     padding: 3px;
   }